language: node_js
node_js:
  - '6'
branches:
  only:
    - '/^v[0-9]/'
before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH=$HOME/.yarn/bin:$PATH
install:
- yarn install
script:
- yarn test
notifications:
  webhooks:
    - 'https://beekeeper.octoblu.com/webhooks/travis:ci'
